<h1>Register Here!</h1>

<form action="/users/register" method="POST">
  <input name="email" type="email" id="email-reg" placeholder="Email" required>
  <input name="password1" type="password" id="password-reg" placeholder="Password" required>
  <input name="password2" type="password" id="comf-password-reg" placeholder="Comfirm Password" required>
  <button type="submit">Register</button>
  
</form>
