
body, html, #container-form {
  height: 95%;
}

#run-btn, #create-btn, #save-btn{
  float: right;
}

#typing-area{
  width: 90%; 
  height: 90%;
  font-size: 17px;
  background-color: grey;
  color: white;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

#project-select{
  width: 10%;
}