
body, html, #container-form {
  height: 95%;
}

#actions-menu{
  border: white 10px so;
}

#typing-area{
  width: 90%; 
  height: 90%;
  font-size: 17px;
  background-color: grey;
  color: white;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

#project-select{
  width: 10%;
}

#actions-menu button, #actions-menu select, #actions-menu div {
  display: inline;
  margin: 0px 5%;
}
