
body, html, #container-form {
  width: 98%; height: 95%;
}

#run-btn, #create-btn{
  float: right;
}

#typing-area{
  width: 95%; 
  height: 90%;
  font-size: 17px;
  background-color: grey;
  color: white;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

#project-select{
  width: 10%;
}